
#fondomasiv{
background-size: cover;
background-repeat: no-repeat;
text-align: center;
width: 100%;
}
#fondomaestro{
    background-size: cover;
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
#fondomaestro.fondomasmaestro{
    padding: 222px 0px;
    background-image: url(./mikasa.png);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.cover  
{
    color: #fff;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 37.3333px;
    margin-bottom: 32px;
    max-width: 1440px;
    width: 100%;
    margin: auto;   
}
#coversip{
max-width: 1440px;
width: 90%;
margin: auto;
}
.titulo {
    color: #fff;
    font-family: 'Segoe UI Semibold','wf_segoe-ui_semibold','wf_segoe-ui_normal','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 37.3333px;
    margin-bottom: 32px;
}
.formulario input[type="submit"] {
    height: 100%;
position: absolute;
top: 0;
bottom: 0;
right: 0;
padding: 0;
width: 100px;
cursor: pointer;
border: none;
background: transparent;
color: rgb(255, 255, 255);
background-color: rgb(104, 22, 22);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
 
#form1{
    margin: auto;
    position: relative;
    max-width: 748px;
  }
 

  input[type="search"] {
    width: 100%;
    height: 51px;
    font-size: 30px;
    padding: 0 50px 0 18px;
    border: 1px solid #a9a9a9;
    outline: 0;
    font-family: 'Segoe UI','Segoe UI Web','wf_segoe-ui_normal','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
  }
  .cajita{
    position: relative;
  }
