:root {
    --dark: #16181c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

.body1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark {
    background-color: var(--dark)!important;
}

.bg-dark-x {
    background-color: var(--dark-x)!important;
}

.form-control,
.btn {
    min-height: 3.125rem;
    line-height: initial;
}

.img-1 {
    background-image: url(./mikasa.png);
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url(./mikasa.png);
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url(./mikasa.png);
    background-size: cover;
    background-position: center;
}