:root{
    --primario: #028850;

}

.btn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: var(--primario);
}

.btn:hover{
    padding: 8px 20px;
    transition: all 0.3 ease-out;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid var(--primario);

}