.dropdown-menu{
width: 200px;
position: absolute;
top: 80px;
list-style: none;
text-align: start;
}
.dropdown-menu li{
    background: #028850;
    cursor: pointer;
}

.dropdown-menu:hover{
    background: #028850;

}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    padding: 16px;
}

